html, body{
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
}

.header {
    height: 60px;
    color: white;
    background-color:rgba(0, 255, 0,1);
}

.header img {
    float: left;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-left: 15px;
}

.header h2 {
    margin-top: 0;
    font-size: 26px;
    padding-top: 16px;
    padding-right: 30px;
    float: right;
}

.main-window{
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
}

.contacts-window{
    box-sizing: border-box;
    background-color: black;
    width: 25%;
    float: left;
    color: white;
    border-right: 1px solid green;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
}

.contacts-window-header {
    /* margin-bottom: 10px; */
    padding-bottom: 0;
}

.contacts-window-header h1 {
    color: white;
    background-color:rgba(0, 255, 0,1);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    padding: 0px;
    /* border-radius: 10px; */
    margin-right: 10px;
}

.contact-list {
    overflow-y: auto;
    top: 73px;
    bottom: 0;
    width: 94%;
    position: absolute;
    padding-left: 10px;
}

/* .contact-list::-webkit-scrollbar {
    display: none;
} */
.contact-list::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.contact-list::-webkit-scrollbar-track {
    background: #111111;
    border-radius: 10px;
}

/* Handle */
.contact-list::-webkit-scrollbar-thumb {
    background: rgb(29, 151, 25);
    border-radius: 10px; 
}

/* Handle on hover */
.contact-list::-webkit-scrollbar-thumb:hover {
    background: rgb(76, 250, 76); 
}

.contact {
    border-radius: 35px;
    height: 55px;
    margin-right: 7px;
    margin-right: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgba(34, 33, 33, 0.479);
    /* border-bottom: 10px solid black; */
}

.contact:hover {
    background-color: rgba(0, 128, 0, 0.781);
}

.contact img {
    width: 50;
    height: 50;
    float: left;
    padding: 0;
    padding-top: 3px;
    padding-left: 5px;
}

.contact .contact-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    padding-top: 13px;
    padding-left: 65px;
}

.contact .time {
    float: right;
    font-size: 12px;
    padding-right: 17px;
    margin: 0;
    /* padding-bottom: 5px; */
}

.chat-window{
    box-sizing: border-box;
    background-color: black;
    width: 73%;
    height: 100%;
    float: right;
    color:white;
}